<div class="container">
  <%= simple_form_for @expense_entry_obj,:url => user_expense_entries_path, :method => :post do |f| %>
    <%= f.input :desc, placeholder: 'Enter your expense description'%>
    <%= f.input :entry_date %>
    <%= f.input :total_amount %>
    <%= f.input :who_paid %>
    <%= f.submit 'Add Expense', class: "btn btn-primary btn-lg"  %>
  <% end %>

</div>
